.header-container {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;

    button {
        font-weight: 700;
        font-size: 1.2em;
        border-radius: 30px;
        padding: 0.5em 1.2em;
    }
}